{% for field in form.visible_fields %}
<div class="field relative form-control">
  <div class="relative">
  {{ field }}
   <label for="floating_filled" class="absolute text-xs font-normal text-primary dark:text-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-primary peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-4">{{field.label}}</label>
  </div>
  <div class="error-list">
    {% if field.errors %}
    {% for error in field.errors%}
    <span class="field-error django-error">{{ error }}</span>
    {% endfor %}
    {% endif %}
  </div>
  {% comment %} {% if field.help_text %}
  <p class="help">{{ field.help_text|safe }}</p>
  {% endif %} {% endcomment %}
</div>
{% endfor %}
{% for field in form.hidden_fields %}

<button class="btn btn-primary w-max mt-8 btn-outline" type="submit" name="{{ field.name }}" value="Não aceito">Não
  aceito</button>
<button class=" btn btn-primary text-neutral-50" type="submit" name="{{ field.name }}" value="Aceito">
  Aceito</button>

{% empty %}
<button id="backButton" class="btn btn-primary w-max btn-outline">Voltar</button>
<input class=" btn btn-primary w-max text-neutral-50" type="submit" value="Continuar" formnovalidate />
{% endfor %}
