{% for field in form.visible_fields %}
<div class="form-control">
  <!-- {{ field.label_tag }} -->
  {{ field }}
  <div class="error-list">
    {% if field.errors %}
    {% for error in field.errors%}
    <span class="field-error django-error">{{ error }}</span>
    {% endfor %}
    {% endif %}
  </div>
  {% comment %} {% if field.help_text %}
  <p class="help">{{ field.help_text|safe }}</p>
  {% endif %} {% endcomment %}
</div>
{% endfor %}
{% for field in form.hidden_fields %}
<input class="btn btn-primary w-full btn-outline" type="submit" name="{{ field.name }}" value="Não aceito" formnovalidate />
<input class="btn btn-primary w-full" type="submit" name="{{ field.name }}" value="Aceito" formnovalidate />
{% empty %}
<input class="btn btn-primary w-full text-neutral-50" type="submit" value="Continuar" formnovalidate />
{% endfor %}
