{% load static %}

{% block head_js %}
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
{% endblock %}

{% for field in form %}
<div class="form-control">
  {{ field.errors }}
  {{ field.label_tag }}
  {{ field }}
  {% if field.help_text %}
  <p class="help">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endfor %}


{% block footer_js %}
<script src="{% static 'js/onblur.js' %}"></script>
{% endblock %}