{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
<main class="container mt-16 px-10 text-center max-w-lg m-auto">

  {% include "forms/navigation.html" with active_index=step %}

  <h1 class="mt-8 mb-6">{{title}}</h1>

  {% if subtitle %}
  <p class="max-w-xs m-auto pb-6">{{subtitle}}</p>
  {% endif %}

  <form action="" method="post" class="px-14">
    {% csrf_token %}
    {{ form }}
    <!-- {% include "components/form-button.html" %} -->
    <input class="btn btn-primary w-full text-neutral-50" type="submit" value="Continuar" formnovalidate />
  </form>

</main>
{% endblock %}

{% block image %}
<div class="hidden lg:block">
  {% include "components/desktop-form-full-image.html" %}
</div>
<div class="lg:hidden bottom-0">
  <img src="{% static 'images/mobile-footer.svg' %}" class="w-large" alt="Mapa Illustration Footer">
</div>
{% endblock %}

{% block footer_js %}
<script src="{% static 'js/jquery-mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/onblur.js' %}"></script>
<script src="{% static 'js/cep.js' %}"></script>
{% endblock %}
