{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}

{% block main %}
<main class="container mt-16 px-10 text-center">

  {% include "forms/navigation.html" with active_index=1 %}

  <h1 class="mt-8 mb-6">Seus dados</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-primary w-full" type="submit" value="Continuar" formnovalidate />
  </form>
</main>
{% endblock %}

{% block footer %}{% include 'footer/secondary.html' %}{% endblock %}

{% block footer_js %}
<script src="{% static 'js/onblur.js' %}"></script>
{% endblock %}
