{% extends "base.html" %}
{% load static %}

{% block navbar %}

{% endblock %}

{% block main %}

<div class="grid grid-cols-1 md:grid-cols-2 xs:justify-center w-full gap-5 text-center">

  <div class="max-w-lg mt-44 xs:mt-12 mx-auto">
    <div class="grid gap-2 grid-cols-1 mb-4 idealist">
      <h2>Bem-vinda</h2>
      <p class="max-w-xs m-auto">O cadastro leva cerca de 7 minutos, seguido por uma capacitação online em violência de
        gênero. Vamos lá?</p>
    </div>

    <div class="grid gap-3 grid-cols-1 w-64 mx-auto mb-6 text-lg">
      <a href="{% url 'forms_steps' type_form='psicologa' step=1 %}" class="btn btn-secondary">Sou psicóloga</a>
      <a href="{% url 'forms_steps' type_form='advogada' step=1 %}" class="btn btn-primary">Sou advogada</a>
    </div>
    <p class="text-sm m-auto max-w-xs ">
      Ao realizar o cadastro você está de acordo com a nossa 
      <a href="https://docs.google.com/document/d/e/2PACX-1vTI5h8RBjeC7MkZ4bAponamp02YdYhjhPCJC0dQ2kp7inzA1LPoiE_JFgOwmbwv1PPJvU4pMqfEEQn9/pub" target="_blank" class="text-primary font-extrabold hover:underline" rel="noopener noreferrer">
        política de privacidade
      </a>.
    </p>
    {% if messages %}
      {% for message in messages %}
        <!-- Alert   -->
        <div class="flex justify-between mt-3 xs:max-w-xs rounded p-3 bg-lightRed">
          <p class="self-start max-w-xs text-sm mt-2">
           {{message}} Se você não for {{request.user.first_name}}, clique <a href="{% url 'logout' %}?next=/" class="text-primary font-extrabold hover:underline">aqui</a>.
          </p>

          <strong class="text-xl align-center cursor-pointer alert-del"
            >&times;</strong
          >
        </div>
      {% endfor %}
    {% else %}
    {{ block.super }}
    {% endif %}
  </div>

  <div class="md:bg-purple md:h-screen xs:relative xs:bottom-0 xs:w-screen">
    <div class="hidden md:block">
      {% include "volunteers/components/desktop-full-image.html" %}
    </div>
    <div class="md:hidden bottom-0">
      <img src="{% static 'images/mobile-illustration.svg' %}" class="w-large" alt="woman footer illustration">
    </div>
  </div>
</div>
{% block footer_js %}
<script src="{% static 'js/alert-hide.js' %}"></script>
{% endblock %}
{% endblock %}
