DEBUG = True
MSR_HOST=localhost:8000
VOLUNTEER_HOST=127.0.0.1:8000
ALLOWED_HOSTS=novoqueroacolher.dev,novoqueroseracolhida.dev,localhost,127.0.0.1,cadastro.localhost,0.0.0.0,www.example-a.dev
BONDE_DATABASE_URL=
MOODLE_API_URL=https://moodle.staging.bonde.org/
MOODLE_API_KEY=
DATABASE_URL=
GEOCODING_API_KEY=
GOOGLE_MAPS_API_KEY=
MOODLE_DATABASE_URL=
DOCKER_IMAGE=
LOOPS_API_KEY=
NEW_RELIC_LICENSE_KEY=