{% extends "base.html" %}
{% load static %}

{% block navbar %}

{% endblock %}

{% block main %}
<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div>
    {% include "navbar.html" %}
    <div class="mx-5">
      {%if step == "msrs" %}
        <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
          <h2 class="text-4xl font-bold mb-4">{{ titulo }}</h2>
          <p class="text-gray-600 mb-4">{{ subtitulo }}</p>
      {% else %}
      {% if step < 10 %}
            {% include "msr_navigation.html" with active_index=step %}
      {% endif %}
      <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
        <h2 class="font-bold text-lightYellow">{{ titulo }}</h2>

        {% if step == 10 %}
          {% include "components/msrForm/loading.html" %}
        {% endif %}

        <p class="text-gray-600 mb-4 max-w-sm">{{ subtitulo|safe  }}</p>

      {% endif %}
        <form method="post" class="px-6">
          {% csrf_token %}
          {{ form.management_form }}
          {% for field in form %}
          <div class="mb-4 justify-center">
            {{ field }}
          </div>
           <!-- Tooltip -->
           {% if step < 2 %}
            {% include "components/msrForm/tooltip.html" %}
           {% endif %}

           <!-- Range component -->
          {% endfor %}
          {% if step == 5 %}
            {% include "components/msrForm/range.html" %}
          {% endif %}

          <div class="xs:flex xs:justify-between">
            {% if step != 11 %}
            <div class="flex justify-center sm:hidden">
              <button id="backButton" class="hidden xs:block font-idealista uppercase hover:text-primary hover:cursor-pointer bg-transparent border-none w-max text-primary text-sm">Voltar</button>
            </div>
            {% endif %}
            {% if step != 10 %}
              <div class="flex justify-center">
                  <button type="submit" class="bg-primary btn text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#5b225b] font-idealista uppercase">
                    {% if step == 11 %}
                      Iniciar Cadastro
                    {% else %}
                      Continuar
                    {% endif %}
                  </button>
              </div>
            {% endif %}
          </div>
      </form>
    </div>
  </div>
 </div>

  <div class="md:bg-[#FFF7E3] md:h-screen xs:relative xs:bottom-0 xs:w-screen flex justify-center">
    <div class="hidden md:block mt-auto">
      {% if step < 2 %}
      <img src="{% static 'images/msrs/1-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step < 4 %}
      <img src="{% static 'images/msrs/2-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step == 4 %}
      <img src="{% static 'images/msrs/3-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step < 7 or step == 9 %}
      <img src="{% static 'images/msrs/4-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step < 9 %}
      <img src="{% static 'images/msrs/5-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step == 10 %}
      <img src="{% static 'images/msrs/6-form-bg.png' %}" class="w-large" alt="illustration">
      {% elif step == 11 %}
      <img src="{% static 'images/msrs/7-form-bg.png' %}" class="w-large" alt="illustration">
      {% endif %}
    </div>
    <div class="md:hidden bottom-0">
      <img src=
      "{% if step <= 1 %} {% static 'images/msrs/1-mobile-bg.png' %}
      {% elif step <= 3 %} {% static 'images/msrs/2-mobile-bg.png' %}
      {% elif step == 4 %} {% static 'images/msrs/3-mobile-bg.png' %}
      {% elif step <= 6 or step == 9 %} {% static 'images/msrs/4-mobile-bg.png' %}
      {% elif step <= 8 %} {% static 'images/msrs/5-mobile-bg.png' %}
      {% elif step == 10 %} {% static 'images/msrs/7-mobile-bg.png' %}
      {% elif step == 11 %} {% static 'images/msrs/8-mobile-bg.png' %}
      {% endif %}"
      class="w-large"
      alt="illustration">
    </div>
  </div>
</div>

<script src="{% static 'js/msrs/tooltip.js' %}"></script>
<script src="{% static 'js/msrs/checkbox.js' %}"></script>
<script src="{% static 'js/msrs/range.js' %}"></script>
<script>
  /*Loading*/
  var currentStep = {{step}};

  if (currentStep === 10) {
     var nextStep = currentStep + 1;

      setTimeout(function() {
          window.location.href = window.location.pathname.replace(currentStep, nextStep);
      }, 4000);
  }
</script>
{% endblock %}

