{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="min-h-full grid grid-cols-1 md:grid-cols-2">
  <div>
    {% include "navbar.html" %}

    <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
      <h1 class="text-3xl font-bold text-gray-800">Seja bem-vinda</h1>

      <p class="max-w-[350px] text-gray-600"><b class="text-primary">Sofreu violência de gênero?</b> Responda as perguntas seguintes para receber acolhimento.</p>

      <div class="w-[341px] h-[206.50px] px-7 py-[28.75px] bg-lightPink rounded-md border border-mediumPink">
        <div class="h-[149px] flex-col justify-start items-start gap-[15px] flex">
            <div class="w-[289px] h-[45px] border-b border-rose-200 justify-start items-start gap-[15px] inline-flex">
                <img src="{% static 'images/msrs/1-icon-heart.svg' %}" >
                <div class="w-[230px] text-neutral-600 text-[13px] font-normal font-['Nunito Sans'] leading-none">O atendimento do Mapa do Acolhimento é totalmente gratuito</div>
            </div>
            <div class="w-[289px] h-[42px] border-b border-rose-200 justify-start items-start gap-[15px] inline-flex">
                <div class="w-[23px] h-[23px] justify-center items-center flex">
                    <div class="w-[23px] h-[23px] relative">
                      <img src="{% static 'images/msrs/1-icon-heart.svg' %}" >
                    </div>
                </div>
                <div class="w-[233px] text-neutral-600 text-[13px] font-normal font-['Nunito Sans'] leading-none">Para receber atendimento é preciso ser maior de 18 anos e residir no Brasil</div>
            </div>
            <div class="w-[237px] justify-start items-start gap-[15px] inline-flex">
                <div class="w-[23px] h-[23px] justify-center items-center flex">
                    <div class="w-[23px] h-[23px] relative">
                        <img src="{% static 'images/msrs/1-icon-heart.svg' %}" >
                    </div>
                </div>
                <div class="w-[251px] text-neutral-600 text-[13px] font-normal font-['Nunito Sans'] leading-none">Estar em situação de vulnerabilidade socioeconômica/baixa renda</div>
            </div>
        </div>
    </div>

      <a href="{% url 'meu_form' step=0 %}" class="bg-[#622565] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#5b225b] font-idealista uppercase">Quero ser acolhida</a>

      <p class="text-gray-600 mt-4 max-w-sm">Ao responder às perguntas, você está de acordo com a nossa <b>política de privacidade</b>.</p>
  </div>
  </div>

  <div class="md:bg-[#FFF7E3] md:h-screen xs:relative xs:bottom-0 xs:w-screen flex justify-center">
    <div class="hidden md:block mt-auto">
      <img src="{% static 'images/msrs/teste.png' %}" class="w-large" alt="woman footer illustration">
    </div>
    <div class="md:hidden bottom-0">
      {% comment %} <img src="{% static 'images/msrs/mobile-illustration.svg' %}" class="w-large" alt="woman footer illustration"> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}

