{% extends "msr_base.html" %}
{% load static %}

{% block main %}
<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div>
    {% include "msrs/components/navbar.html" %}
    <div class="flex mx-5 mt-4">
      {% if step != 0 %}
            <div class="flex">
              <button id="backButton" class="absolute left-5 top-5">
                <img src="{% static 'images/msrs/screening/back-icon.png' %}" class="" alt="seta para a esquerda">
              </button>
            </div>
      <div class="max-w-screen-sm mx-auto p-8 flex flex-col {% if step == 0 %} gap-4 mt-14 {% endif %} items-center text-center">
        <h2 class="font-bold text-primary">{{ titulo }}</h2>

        <p class="text-gray-600 mb-4 max-w-sm">{{ subtitulo|safe  }}</p>

        <form method="post" class="px-6">
          {% csrf_token %}
          {{ form.management_form }}
          {% for field in form %}
          <div class="relative mb-4 form-control">
            <div class="relative {% if field.help_text %} tooltip bg-transparent p-0 w-full m-0{% endif %}"{% if field.help_text %} data-tip="{% autoescape off %}{{field.help_text|safe}}{% endautoescape %}"{% endif %}>
              {{ field }}
              <label for="id_{{field.name}}" id="label_{{field.name}}" class="absolute text-xs font-normal text-primary dark:text-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-primary peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-4 {% if field.field.widget.input_type == 'select' %}hidden{% endif%}">
                {{field.label}}
              </label>
            </div>
          </div>

          {% comment %} <div class="input-field relative mb-4 {% if field.help_text %} tooltip bg-transparent p-0 w-full m-0{% endif %}"{% if field.help_text %} data-tip="{% autoescape off %}{{field.help_text|safe}}{% endautoescape %}"{% endif %}>
            {{ field }}
            <label for="id_{{field.name}}" id="label_{{field.name}}" class="placeholder-label absolute text-xs font-normal text-primary dark:text-primary duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-focus:text-primary peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-4 {% if field.field.widget.input_type == 'select' %}hidden{% endif%}">
              {{field.label}}
            </label>
          </div> {% endcomment %}
          {% endfor %}

          <div class="xs:flex xs:justify-between">

            {% endif %}
            {% if step != 10 %}
              <div class="flex justify-center">
                  <button type="submit" class="bg-primary btn text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#5b225b] font-idealista uppercase fixed bottom-3 right-6 z-50">
                    {% if step == 0 %}
                      Iniciar Cadastro
                    {% else %}
                      Continuar
                    {% endif %}
                  </button>
              </div>
              {% endif %}
          </div>
          <p class="text-gray-600 mt-4 max-w-xs text-sm">Ao responder às perguntas, você está de acordo com a nossa <b>política de privacidade</b>.</p>
      </form>
    </div>
  </div>
 </div>

  <div class="md:bg-lightPink md:h-screen xs:relative bottom-0 xs:w-screen flex justify-center">
    <div class="hidden md:block mt-auto md:absolute md:right-0 md:bottom-0">
      {% if step == 0 %}
      <img src="{% static 'images/msrs/register/1-register-home-bg.svg' %}" class="" alt="illustration">
      {% elif step <= 2 %}
      <img src="{% static 'images/msrs/register/2-register-bg.svg' %}" class="" alt="illustration">
      {% elif step <= 6 %}
      <img src="{% static 'images/msrs/register/3-register-bg.svg' %}" class="" alt="illustration">
      {% elif step <= 8 %}
      <img src="{% static 'images/msrs/register/4-register-bg.svg' %}" class="" alt="illustration">
      {% elif step == 9 %}
      <img src="{% static 'images/msrs/register/5-register-bg.svg' %}" class="" alt="illustration">
      {% endif %}
    </div>
  </div>
  <div class="md:hidden bottom-0">
    <img src=
    "{% if step == 0 %} {% static 'images/msrs/register/1-register-mobile.svg' %}
    {% elif step <= 2 %} {% static 'images/msrs/register/2-register-mobile.svg' %}
    {% elif step <= 9 %} {% static 'images/msrs/register/3-register-mobile.svg' %}
    {% elif step == 10 %} {% static 'images/msrs/register/4-register-mobile.svg' %}
    {% endif %}"
    class="w-large"
    alt="illustration">
  </div>
</div>

{% include "msrs/components/navigation.html" with active_index=step|add:15 %}

{% endblock %}

{% block footer_js %}
<script src="{% static 'js/hideSelectLabel.js' %}"></script>
<script src="{% static 'js/go-back.js' %}"></script>
{% endblock %}

