{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block main %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div>
    {% include "msrs/components/navbar.html" %}
    <div class="mx-5">
        <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
{% comment %} 
      {% if wizard.form.forms %}
          <h2 class="text-4xl font-bold mb-4">{{wizard.form.forms.titulo}}</h2>
          <p class="text-gray-600 mb-4">{{wizard.form.forms.subtitulo}}</p>
        {% else %}
          <h2 class="text-4xl font-bold mb-4">{{wizard.form.titulo}}</h2>
          <p class="text-gray-600 mb-4">{{wizard.form.subtitulo}}</p>
        {% endif %}  
    {% endcomment %}
       
      <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
        <h2 class="font-bold text-lightYellow">{{ titulo }}</h2>
        {% if wizard.form.forms %}
        <h2 class="font-bold text-lightYellow">{{wizard.form.forms.titulo}}</h2>
        <p class="text-gray-600 mb-4 max-w-sm">{{ wizard.form.forms.subtitulo|safe  }}</p>
        {% else %}
        <h2 class="font-bold text-lightYellow">{{wizard.form.titulo}}</h2>
        <p class="text-gray-600 mb-4 max-w-sm">{{ wizard.form.subtitulo|safe  }}</p>
        {% endif %}  

       
        

<form action="" method="post">{% csrf_token %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
    {% for field in form %}
    <div class="mb-4 justify-center">
      {{ field }}
    </div>
     <!-- Tooltip -->
     {% if step < 2 %}
      {% include "msrs/components/tooltip.html" %}
     {% endif %}

     <!-- Range component -->
    {% endfor %}
    {% endfor %}
{% else %}

    {% for field in  wizard.form%}
    <div class="mb-4 justify-center">
      {{ field }}
    </div>
     <!-- Tooltip -->
     {% if step < 2 %}
      {% include "msrs/components/tooltip.html" %}
     {% endif %}

     <!-- Range component -->
    {% endfor %}
    {% if step == 5 %}
            {% include "msrs/components/range.html" %}
          {% endif %}

          <div class="xs:flex xs:justify-between">
            {% if step != 11 %}
            <div class="flex justify-center sm:hidden">
              <button id="backButton" class="hidden xs:block font-idealista uppercase hover:text-primary hover:cursor-pointer bg-transparent border-none w-max text-primary text-sm">Voltar</button>
            </div>
            {% endif %}
            {% if step != 10 %}
              <div class="flex justify-center">
                  <button type="submit" class="bg-primary btn text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#5b225b] font-idealista uppercase">
                      Continuar
                  </button>
              </div>
            {% endif %}
          </div>
{% endif %}

{% comment %} {% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
{% endif %} {% endcomment %}

</form>
{% endblock %}