{% extends "msr_base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block main %}
{% with step=wizard.steps.current|add:"0" %}
<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <div>
    {% include "msrs/components/navbar.html" %}

    <div class="mx-5">
        <button id="backButton" class="absolute left-5 mt-6">
          <img src="{% static 'images/msrs/screening/back-icon.png' %}" class="" alt="seta para a esquerda">
        </button>

        <div class="max-w-screen-sm mx-auto p-8 flex flex-col items-center text-center gap-4">
      <div class="max-w-screen-sm mx-auto mt-8 flex flex-col items-center text-center gap-4">
        <h2 class="font-bold text-lightYellow">{{ titulo }}</h2>
        {% if wizard.form.forms %}
        <h2 class="font-bold text-lightYellow">{{wizard.form.forms.titulo}}</h2>
        <p class="text-gray-600 mb-4 max-w-sm">{{ wizard.form.forms.subtitulo|safe  }}</p>
        {% else %}
        <h2 class="font-bold text-lightYellow">{{wizard.form.titulo}}</h2>
        <p class="text-gray-600 mb-4 max-w-sm">{{ wizard.form.subtitulo|safe  }}</p>
        {% endif %}
      </div>

      <form method="post" class="px-6">
      {% csrf_token %}

      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {% for field in form %}
            <div class="mb-4 justify-center">
            {{ field }}
            <!-- Range component -->
            {% if field.name == 'income' %}
              {% include "msrs/components/range.html" %}
            {% endif %}
            </div>
          <!-- Tooltip -->
            {% if step < 2 %}
              {% include "msrs/components/tooltip.html" %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}

        {% for field in  wizard.form%}
          <div class="mb-4 justify-center">
            {% if field.name == 'agree' %}
            <div class="flex">
              {{ field }}

              <label for="{{ field.id_for_label }}" class="flex px-3 label text-sm max-w-sm text-start">
                Estou ciente de que as informações serão registradas são verdadeiras sobre o tipo de violência sofrida.
              </label>
            </div>
            {% else %}
            {{ field }}
            {% endif %}

          <!-- Range component -->
          {% if field.name == 'income' %}
            {% include "msrs/components/range.html" %}
          {% endif %}
          </div>
          <!-- Tooltip -->
          {% if step < 2 %}
            {% include "msrs/components/tooltip.html" %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="xs:flex xs:justify-between mt-14">
        <div class="fixed justify-center bottom-3 right-6 z-50">
         <button type="submit" class="bg-primary btn text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#5b225b] font-idealista uppercase">
            Continuar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<div class="md:bg-[#FFF7E3] md:h-full  flex justify-center">
  <div class="hidden md:block mt-auto">
    {% if step < 2 %}
    <img src="{% static 'images/msrs/screening/1-form-bg.png' %}" class="w-large" alt="illustration">
    {% elif step < 10 %}
    <img src="{% static 'images/msrs/screening/2-form-bg.png' %}" class="w-large" alt="illustration">
    {% elif step == 10 %}
    <img src="{% static 'images/msrs/screening/3-form-bg.png' %}" class="w-large" alt="illustration">
    {% elif step <= 12 or step == 15 %}
    <img src="{% static 'images/msrs/screening/4-form-bg.png' %}" class="w-large" alt="illustration">
    {% elif step < 15 %}
    <img src="{% static 'images/msrs/screening/4-form-bg.png' %}" class="w-large" alt="illustration">
    {% comment %} <img src="{% static 'images/msrs/screening/5-form-bg.png' %}" class="w-large" alt="illustration">

    <img src="{% static 'images/msrs/screening/6-form-bg.png' %}" class="w-large" alt="illustration">

    <img src="{% static 'images/msrs/screening/7-form-bg.png' %}" class="w-large" alt="illustration"> {% endcomment %}
    {% endif %}
  </div>
  <div class="md:hidden xs:fixed xs:bottom-16 xs:right-0 xs:w-32 ">
    <img src=
    {% if step < 2 %} "{% static 'images/msrs/screening/1-mobile-bg.svg' %}"
    {% elif step < 10 %} "{% static 'images/msrs/screening/2-mobile-bg.svg' %}"
    {% elif step == 10 %} {% static 'images/msrs/screening/3-mobile-bg.svg' %}
    {% elif step <= 12 or step == 15 %} "{% static 'images/msrs/screening/4-mobile-bg.svg' %}"
    {% elif step < 15 %} "{% static 'images/msrs/screening/5-mobile-bg.svg' %}"
    {% endif %}
    class="w-large"
    alt="illustration">
  </div>
</div>
{% include "msrs/components/navigation.html" with active_index=step %}
{% block footer_js %}
<script src="{% static 'js/msrs/tooltip.js' %}"></script>
<script src="{% static 'js/msrs/checkbox.js' %}"></script>
<script src="{% static 'js/msrs/radiobutton.js' %}"></script>
<script src="{% static 'js/go-back.js' %}"></script>
{% if step == 11 %}
<script src="{% static 'js/msrs/range.js' %}"></script>
{% endif %}
{% endblock %}
{% endwith %}
{% endblock %}
