services:
    mapa-org-formularios:
      image: ${DOCKER_IMAGE:-nossas/mapa-org-formularios:latest}
      restart: "${DOCKER_RESTART_POLICY:-unless-stopped}"
      pull_policy: always
     # ports:
    #     - 80:8000
      environment:
        - DEBUG=${DEBUG:-True}
        - ALLOWED_HOSTS=${ALLOWED_HOSTS}
        - VOLUNTEER_HOST=${VOLUNTEER_HOST}
        - MSR_HOST=${MSR_HOST}
        - DATABASE_URL=${DATABASE_URL}
        - BONDE_DATABASE_URL=${BONDE_DATABASE_URL}
        - MOODLE_API_URL=${MOODLE_API_URL}
        - MOODLE_API_KEY=${MOODLE_API_KEY}
        - GEOCODING_API_KEY=${GEOCODING_API_KEY}
        - GOOGLE_MAPS_API_KEY=${GOOGLE_MAPS_API_KEY}
        - MOODLE_DATABASE_URL=${MOODLE_DATABASE_URL}
        - LOOPS_API_KEY=${LOOPS_API_KEY}
        - ZENDESK_SUBDOMAIN=${ZENDESK_SUBDOMAIN}
        - ZENDESK_API_TOKEN=${ZENDESK_API_TOKEN}
        - ZENDESK_API_USER=${ZENDESK_API_USER}
        - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
        - NEW_RELIC_ENVIRONMENT=${NEW_RELIC_ENVIRONMENT}

      labels:
        - traefik.enable=true
        - traefik.http.services.mapa-org-formularios.loadbalancer.server.port=8000
        - traefik.http.routers.mapa-org-formularios.tls=true
        - traefik.http.routers.mapa-org-formularios.tls.certresolver=myresolver
        - traefik.http.routers.mapa-org-formularios.rule=Host(`${MSR_HOST}`,`${VOLUNTEER_HOST}` )

networks:
  default:
    name: bonde