{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

<head>
  <title>Cadastro Voluntárias</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% block head_js %}{% endblock %}
</head>

<body class="font-sans leading-normal tracking-normal h-screen">
  {% include "components/navbar.html" %}

  <div class="flex flex-col lg:flex-row">
    <div class="flex-1">
      <div class="container mt-44">
        {% if messages %}
        <div class="w-1/2">
          {% for message in messages %}
          <div class="alert shadow-lg{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <div>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg> -->
              <span>{{ message }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% block main %}
        {% endblock main %}
        {% if request.user.is_authenticated %}
        <p class="text-sm m-auto max-w-xs xs:flex xs:justify-center mt-2">
          Se você não for {{request.user.first_name}},
          clique <a href="{% url 'logout' %}?next=/" class="ml-1"> aqui</a>.
        </p>
        {% endif%}
      </div>
    </div>
    <div class="flex-auto">
      {% block image %}{% endblock image %}
    </div>
  </div>
  {% block footer_js %}{% endblock %}
</body>

</html>
