<form class="col-1">
    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Primeiro nome</span>
      </label>
      <input type="text" name="given_name" class="input input-bordered input-primary w-full" />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Sobrenome</span>
      </label>
      <input type="text" name="family_name" class="input input-bordered input-primary w-full" />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input type="email" name="email" class="input input-bordered input-primary w-full" />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">Telefone</span>
      </label>
      <input type="text" name="phone" class="input input-bordered input-primary w-full" />
    </div>

    <div class="form-control w-full">
      <label class="label">
        <span class="label-text">CRP</span>
      </label>
      <input type="text" name="document_number" class="input input-bordered input-primary w-full" />
    </div>
  </form>