{% load static %}
<link rel="stylesheet" href="{% static 'css/output.css' %}" />
<div id="modal" class="{% if not modal %}hidden {% endif %}fixed top-0 left-0 w-screen h-screen bg-darkGray bg-opacity-70 flex justify-center items-center">
  <a class="fixed z-50 top-6 right-8 text-5xl text-white font-bold" href="{% url 'home' %}">&times;</a>

  <div class="grid grid-cols-1 md:grid-cols-2 xs:justify-center gap-5 text-center bg-white">
    <div class="grid gap-2 grid-cols-1 max-w-md mb-4 text-start  p-16">
      <div class="mt-1.5">
      {% if moodle_password %}
      <h3>Parabéns, você completou seu cadastro! Acesse a capacitação com as informações abaixo:</h3>
      <p>Username: {{request.user.email}} </p>
      <p>Senha: {{moodle_password}} </p>
      {% else %}
      <h3>{{request.user.first_name}}, parece que você já completou seu cadastro, agora é só seguir para a capacitação</h3>
      {% endif %}
      <a class="btn btn-secondary mt-3 text-neutral-50" target="_blank" href="{{moodle_url}}/?username={{request.user.email}}">
        Acessar a capacitação
      </a>
    </div>
    <p class="self-start max-w-xs text-sm mt-2 font-droid text-primary">
      Se você não é {{request.user.first_name}}, <a href="{% url 'logout' %}?next=/" class="text-primary font-extrabold hover:underline"> clique aqui</a>.
     </p>
    </div>
    <div class="relative bg-lightPurple hidden md:block">
      <img src="{% static 'images/desktop-final-form-step-illustration.svg' %}" alt="" class="max-w-sm  absolute right-0 bottom-0">
  </div>
  </div>
  </div>
</div>