{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}

{% block main %}
<div class="grid grid-cols-1 md:grid-cols-2 xs:justify-center w-full gap-5 text-center">
  <div class="max-w-lg mt-28 mx-auto">
    {% include "volunteers/forms/navigation.html" with active_index=step %}

    <h1 class="mt-8 mb-6">Capacitação Online</h1>
  <p class="max-w-xs m-auto">Pra concluir seu cadastro, é preciso assistir a uma capacitação sobre acolhimento de
    mulheres em situação de violência. São cerca de 5h de conteúdo, você pode ver no seu tempo, mas seu cadastro só será
    finalizado quando concluir a capacitação.</p>
  <form method="post">
    {% csrf_token %}
    <input class="btn btn-primary w-full mt-8 mb-7" type="submit" value="Salvar e acessar a capacitação" formnovalidate />
    <a id="backButton" class="font-idealista uppercase hover:text-primary hover:cursor-pointer bg-transparent border-none w-max text-primary text-sm">Voltar</a>
  </form>
    {{ block.super }}
  </div>

  <div class="hidden md:block">
    {% include "volunteers/components/desktop-form-final-full-image.html" %}
  </div>
  <div class="md:hidden bottom-0">
    <img src="{% static 'images/mobile-footer-final.svg' %}" class="w-large" alt="Mapa Illustration Footer">
  </div>
</div>
{% endblock %}

{% block footer_js %}
<script src="{% static 'js/onblur.js' %}"></script>
{% endblock %}
