{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" crossorigin="anonymous"></script>
{% endblock %}

  {% block main %}
      <div class="grid grid-cols-1 md:grid-cols-12 xs:justify-center xs:content-between w-full h-full">
      <div class="max-w-xs xs:pt-7 md:pt-24 mx-auto md:col-span-5">
        {% include "volunteers/forms/navigation.html" with active_index=step %}

        <h2 class="pt-6 pb-6 text-center">{{title}}</h2>
        {% if subtitle %}
        <h3 class="max-w-xs m-auto pb-6 text-center">{{subtitle}}</h3>
        {% endif %}

        {% if "Termo" in title %}
        {% include "volunteers/components/term.html" %}
        {% endif %}

        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
        </form>

        {{ block.super }}
      </div>

      <div class="md:bg-lightPurple flex items-end justify-end md:pr-14 md:col-span-7">
        {% include "volunteers/components/form-illutration.html" %}
      </div>
    </div>
  {% endblock %}

{% block footer_js %}
<script src="{% static 'js/jquery-mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/onblur.js' %}"></script>
<script src="{% static 'js/cep.js' %}"></script>
<script src="{% static 'js/go-back.js' %}"></script>
<script src="{% static 'js/enter.js' %}"></script>
<script src="{% static 'js/hideSelectLabel.js' %}"></script>
{% endblock %}
