on:
  workflow_run:
    workflows: ["Publish MDA images"]
    types: [completed]

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - run: echo "Workflow triggered successfully!"